body {
	background-color: #f2f2f2;
}
.register-form {
	background-color: white;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 665px;
	width: 100%;
	max-height: 481px;
  height: 100%;
  transition: 300ms;
  .hidden {
    display: none;
  }
	&__left-side {
		width: 137px;
		height: inherit;
		background-color: #5a61ed;
		position: relative;
		display: inline-block;
		float: left;
		&-title {
			font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -2px;
    letter-spacing: .5px;
    line-height: 1em;
    color: #fff;
    right: calc(-100% + 11px);
    transform: rotate(-90deg);
    transform-origin: left;
		}
	}

	&__right-side {
    font-family: 'Work Sans';
    height: 100%;
    float: right;
    width: calc(100% - 177px);
    max-width: 528px;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 20px;
    .background {
			background: url(../../img/icons/user.svg) center / contain no-repeat;
			width: 400px;
			height: 355px;
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: -46px;
			z-index: 1;
    }
		&-title {
			margin-left: 2px;
			margin-top: 39px;
			margin-bottom: 0;
			
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: -0.46px;
			color: #111;
		}
		&-subtitle {
			margin-left: 1.9px;
			margin-top: -1px;
			letter-spacing: -0.08px;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: #111;
		}
	}

	&__box {
		padding: 0;
		margin: 21px auto;
		max-width: 485px;
		min-height: 215px;
		&-item {
			display: inline-block;
			width: 235px;
			height: 42px;
      position: relative;
      z-index: 9;
			&.first-name {
			}
			&.last-name {
				float: right;
			}
			&.nationality {
				margin-top: 16px;
        z-index: 999;
			}
			&.email {
				margin-top: 16px;
				float: right;
			}
			&.birth-day {
				margin-top: 16px;
				float: left;
				z-index: 999;
			}
			&.gender {
				margin-top: 16px;
				float: right;
			}
			&.password {
				margin-top: 17px;
				float: left;
			}
			&.conf-password {
				margin-top: 17px;
				float: right;
			}
		}
		&-label {
			float: left;
      
			font-style: normal;
			font-weight: 300;
			font-size: 12px;
			line-height: 1em;
      color: #7c7c7c;
      z-index: 9;
      position: relative;
		}
		&-input {
			padding: 0;

			padding-bottom: 0;
			margin: 0;
			float: left;
			width: 100%;
			height: 22px;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 1em;
			color: #111;
			border: none;
			outline: 0;
			border-bottom: 1px solid #f2f2f2;
			background-color: transparent;
			z-index: 9;
			position: relative;
			cursor: pointer;
      &.error {
        color: red;
        border-bottom-color: #FF2222;
      }
			&.email-correct::after {
				content: '';
				padding: 0;
				margin: 0;
				position: absolute;				
				width: 11px;
				background-image: url("/img/icons/v.svg");
				height: 8px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
			}
			&-day {
        width: 24%;
			}
			&-month {
				width: 39%;
				margin-left: 4%;
			}
			&-year {
				width: 29%;
				float: right;
			}
			&-title {				
				margin-right: 22px;
        cursor: pointer;
        z-index: 9;
				position: relative;
			}
			&-gender {
        
				position: absolute;
				opacity: 0;
				&:checked ~ .checkmark {
					background-color: #5a61ed;
					position: relative;
					&:after {
						content: "";
						width: 6px;
						height: 6px;
						position: absolute;
						top: 0;
						border: 2px solid #fff;
						background-color: #5a61ed;
						border-radius: 50%;
						left: 0;
					}
				}
			}
			&.checkmark {        
				border: 1px solid #5a61ed;
				border-radius: 50%;
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-top: 3px;
				margin-left: -2px;
				margin-right: 6px;
			}
			&-title,
			&-gender {
        padding: 0;
				width: auto;
				display: inline-block;
				float: left;
				height: 14px;
        font-size: 14px;
        
			}
		}
	}

	&__login {
		display: inline-block;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 1em;
    color: #000;
		position: relative;
    z-index: 9;
		margin-top: 85px;
		&-link {
      color: #5a61ed;
      font-weight: 500;
		}
	}

	&__btn-complite {
		width: 155px;
    height: 31px;
    background: #5a61ed;
    border: unset;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    padding-bottom: 5px;
    padding-right: 10px;
    color: #fff;
    outline: 0;
    cursor: pointer;
    z-index: 9;
    position: relative;
    float: right;
    margin-top: 79px;
  }
  
  &__ok {
    margin-top: 216px;
    margin-left: 64px;
    color: #111;
    font-style: normal;
    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: -0.46px;
    }
    &-subtitle {
      font-weight: 300;
      margin-top: 10px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media (max-width: 649px) {
  .register-form {
		max-height: 710px;
		&__right-side {
			width: calc(100% - 217px);
			padding: 0 40px;
		}
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-item {
				margin-top: 16px;
				display: inline-block;
				width: 100%;
				float: left!important;
				position: relative;
			}
		}
		&__login {
			margin-top: 35px;
			width: 100%;
			text-align: center;
		}
		&__btn-complite {
			float: unset;
			width: 60%;
			margin: 15px auto;
			transform: translateX(-50%);
			right: -50%;
		}
	}
}

@media (max-width: 449px) {
	.register-form {
		&__login {
			margin-top: 20px;
		}
		&__box-input{
			&-day {
				width: 17%;
			}
			&-month {
				width: 52%;
				margin-left: 2%;
			}
			&-year {
				width: 27%;
			}
		}
		&__btn-complite {
			float: unset;
			width: 80%;
		}
		&__right-side {
			width: 70%;
    padding: 0 5%;
		}
		&__left-side {
			width: 20%;
			&-title {
				right: -122px;
    		font-size: calc(2.7em + 1vw);
			}
		}
	}
}