body.to-black {
  background-color: rgba(0,0,0,0.55);
}

.o-0 {
  opacity: 0;
}

.td-300 {
  transition-duration: 300ms;
}

.o-1 {
  opacity: 1;
}

@keyframes shake {
	from {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(10deg);
	}
	to {
		transform: rotate(0);
	}
}