.path-set {
  stroke: #F9FAFF;
  stroke-dasharray: 2200;
  stroke-dashoffset: 2200;
  stroke-width: 60;
  -ms-stroke-dashoffset: 0!important;
  -ms-stroke-dasharray: 0!important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .path-set {
    stroke-dashoffset: 0!important;
    stroke-dasharray: 0!important;
  }
}
/* styles for animation */
.path-anim-1 {    
  animation: anim-1 6s ease-in-out 1.2s forwards;
  }
  
@keyframes anim-1 {
  0% {
    stroke-dashoffset: 2200;
  }    
  100% {
    stroke-dashoffset: 0;
  }
  }


